.board-game-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: url("../../assets/woodBackground.jpg") no-repeat center center / cover;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    color: #000000; /* Ensure text inside this component is black */
}

.number-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin-bottom: 1rem;
    background-color: #ffffff; /* White background for the board */
    padding: 1.5rem;
    border: 2px solid black; /* Black border around the board */
    border-radius: 8px;
}

.number-button {
    padding: 1rem;
    border: 3px solid black; /* Black border around each number */
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: #000000; /* Black text */
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.number-button:hover {
    background: #9579B9BF;
    transform: scale(1.1); /* Slight zoom on hover */
}

.number-button.selected {
    background-color: rgba(149, 121, 185, 0.75);
    transform: scale(1.1); /* Slight zoom for selected numbers */
}

.submit-button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: #764ba2;
    color: #000000; /* Black text */
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background: #9579B9BF;
}

.field-selection {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.field-button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: #000000; /* Black text */
    font-size: 1.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.field-button:hover {
    background: rgba(149, 121, 185, 0.75);
}

.field-button.selected {
    background: rgb(149, 121, 185);
}


.board-game-component label {
    font-size: 120%; /* Increase font size by 20% */
    font-weight: bold; /* Make the text bold */
    color: #633aad; /* Dark purple color */
}

/* Scale the checkbox to make it 50% bigger */
.board-game-component .autoplay-settings input[type="checkbox"] {
    transform: scale(2); /* Make the checkbox 50% larger */
    margin-left: 20px; /* Optional: Add some space between the checkbox and label */
}



.number-button,
.submit-button {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.number-button.selected,
.field-button.selected {
    box-shadow: 0 0 10px rgb(218, 189, 227); /* Green glow for selected */
}
